
{% for bridge in bridges %}
# set members of {{ bridge.name }} to manual
{% for interface in bridge.members %}
iface {{ interface }} inet manual
{% endfor %}
# configure {{ bridge.name }}
auto {{ bridge.name }}
iface {{ bridge.name }} inet static
    bridge_ports{% for interface in bridge.members %} {{ interface }}{% endfor %}

    address {{ bridge.v4info.address }}
    netmask {{ bridge.v4info.netmask }}
    broadcast {{ bridge.v4info.broadcast }}
    {% for route in bridge.v4info.routes %}up ip route add {{ route.target }} via {{ route.gw }}
    down ip route del {{ route.target }} via {{ route.gw }}
    {% endfor %}

iface {{ bridge.name }} inet6 static
    bridge_ports{% for interface in bridge.members %} {{ interface }}{% endfor %}

    address {{ bridge.v6info.address }}
    {% if bridge.v6info.routes is defined %}
    {% for route in bridge.v6info.routes %}up ip -6 route add {{ route.target }} via {{ route.gw }}
    down ip -6 route del {{ route.target }} via {{ route.gw }}
    {% endfor %}
    {% endif %}

{% endfor %}
