# Created from examples/sample-config-files/server.conf
# Name: {{ openvpn_server_name }}
port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev tun
ca ca.crt
cert server.crt
key server.key  # This file should be kept secret
dh dh2048.pem
server {{ openvpn_server_ip }} {{ openvpn_server_mask }}
{% if openvpn_server_ipv6 is defined %}
server-ipv6 {{ openvpn_server_ipv6 }}
{% endif %}
ifconfig-pool-persist /var/log/openvpn/ipp.txt {{ openvpn_write_ipp_sec }}
keepalive 10 120
cipher AES-256-CBC
persist-key
persist-tun
status /var/log/openvpn/openvpn-status.log
{% for network in openvpn_pushroutes %}
push "route {{ network.address }} {{ network.mask }}"
{% endfor %}
{% if openvpn_pushroutes_ipv6 is defined %}
{% for ipv6network in openvpn_pushroutes_ipv6 %}
push "route-ipv6 {{ ipv6network.address }}"
{% endfor %}
{% endif %}
verb {{ openvpn_verb }}
explicit-exit-notify 1
# Added to default
topology subnet
multihome
script-security {{ openvpn_script_security }}
client-config-dir {{ openvpn_server_name }}_clientconfig
user nobody
group nogroup
# use with "socat - /var/run/openvpn.socket"
management /var/run/openvpn.socket unix
management-client-user root
#Removed from default for backward compatibility
# tls-auth ta.key 0 # This file is secret
