#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0;
    counter
    # accept any localhost traffic
    iif lo accept
    counter
    # accept all icmp traffic
    ip protocol icmp accept
    counter
    ip6 nexthdr ipv6-icmp accept
    counter
    # accept all return packets
    ct state established,related accept
    counter
    # incoming connects allowed on all interfaces
    tcp dport { 22 } ct state new accept
    counter
    udp sport { 123 } udp dport { 123 } accept
    counter
    # rules for upstream if only
    iif {{ upstream_interface }} udp sport { 67 } udp dport { 68 } accept
    counter
    # rules for all other interfaces than upstream, DNS Server
    iif != {{ upstream_interface }} tcp dport { 53 } ct state new accept
    counter
    iif != {{ upstream_interface }} udp dport { 53 } ct state new accept
    counter
    # rules for all other interfaces than upstream, DHCP Server
    iif != {{ upstream_interface }} udp sport { 68 } udp dport { 67 } accept
    # log all other packets
    log prefix "input chain "
    counter
    # drop all other packets
    # TODO
  }
  chain output {
    type filter hook output priority 0;
    counter
    # accept any localhost traffic
    oif lo accept
    counter
    # accept all icmp traffic
    ip protocol icmp accept
    counter
    ip6 nexthdr ipv6-icmp accept
    counter
    # accept return packets
    ct state established, related accept
    counter
    # outgoing connects allowed on all interfaces
    tcp dport { 22, 2222, 80, 443, 53, 25 } ct state new accept
    counter
    udp dport { 53 } ct state new accept
    counter
    udp sport { 123 } udp dport { 123 } accept
    counter
    udp dport { 123 } ct state new accept
    counter
    # rules for upstream if only
    oif {{ upstream_interface }} udp sport { 68 } udp dport { 67 } accept
    counter
    # rules for all other interfaces than upstream, DHCP Server
    oif != {{ upstream_interface }} udp sport { 67 } udp dport { 68 } accept
    # log all other packets
    log prefix "output chain "
    counter
    # drop all other packets
    # TODO
  }
  chain forward { type filter hook forward priority 0;
    log prefix "forward chain "
    counter
  }
}
